/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  font-family: 'Times New Roman', Times, MiSans;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-family: MiSans Medium, 'Times New Roman', Times;
}

.MainPageContent {
  padding: 2.5rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  font-family: 'Times New Roman', Times, MiSans;
  font-size: larger;
}

.ChineseContent {
  font-family: SimSun;
}